/* createorder divs: #foodorder, #drinkorder, #dessertorder */


body {
    margin: 40px;
    background-color: aliceblue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
  
back
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
  
      }
      .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        }
  
      .location {
          grid-column: 1 / 4;
          grid-row: 1;
      }
      .createorder{
          grid-column: 4 ;
          grid-row: 1 / 5;
          
      }
      .food {
          grid-column: 4;
          grid-row: 2 ;
      }
      .drink {
          grid-column: 4;
          grid-row: 3;
      }
     .dessert {
      grid-column: 4;
      grid-row: 4;
    }
    .ordertotal {
        grid-column: 3; 
        grid-row: 5;
    }
    #button {
        grid-column: 4; 
        grid-row: 5;
        background-color: #4CAF50;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        width: 33%;
        position: 50%; 
        margin-top: 50px;
        margin: auto;
        transition-duration: 0.4s;
        border-radius: 8px;
    }
    #button:hover {background-color: #3e8e41}

    #button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }