/* createorder divs: #foodorder, #drinkorder, #dessertorder */
*{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    margin: 40px;
    background-color: aliceblue;
    background-image: url("/images/hotdogs.jpg");
    background-size: 25%;
    background-repeat: round;
}
  
back
  
      .box {
          background-color: #444;
          color: #fff;
          border-radius: 5px;
          padding: 20px;
          font-size: 150%;
  
      }
      .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(6, 1fr);
        grid-column-gap: 2px;
        grid-row-gap: 2px;
        }
  
      .location {
          grid-column: 1 / 4;
          grid-row: 1;
      }

    #location {
            height: 20px;
        }
      
      .createorder{
          grid-column: 4 ;
          grid-row: 1 / 5;
          
      }
      .food {
          grid-column: 4;
          grid-row: 2 ;
      }
      .drink {
          grid-column: 4;
          grid-row: 3;
      }
     .dessert {
        grid-column: 4;
        grid-row: 4;
    }
    .yourorder {
        grid-column: 2 / 3;
        grid-row: 2;
        text-align: center;
        padding-top: 20px;
        font-size: 30px;
        text-shadow:  1px 1px 2px #e00606c7
    }
    #foodorder {
        grid-column: 2 / 3;
        grid-row: 3;
        border: thick solid #e00606c7;
        margin-top: 8px;
    }

    #drinkorder{
        grid-column: 2 / 3;
        grid-row: 4;
        border: thick solid #e00606c7;
        margin-top: 8px;
    }

    #dessertorder {
        grid-column: 2 / 3;
        grid-row: 5;
        border: thick solid #e00606c7;
        margin-top: 8px;;

    }
    #foodorder, #drinkorder, #dessertorder {
        padding-top: 20px;
        display: flex;
        background-color: aliceblue;
    }

    .ordertotal {
        grid-column: 3; 
        grid-row: 6;
    }
    #button {
        grid-column: 4; 
        grid-row: 5;
        background-color: #4CAF50;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        width: 33%;
        position: 50%; 
        margin-top: 50px;
        margin: auto;
        transition-duration: 0.4s;
        border-radius: 8px;
        padding: 20px;
    }
    #button:hover {background-color: #3e8e41}

    #button:active {
      background-color: #3e8e41;
      box-shadow: 0 5px #666;
      transform: translateY(4px);
    }

    #foods, #drinks, #desserts {
        width: 150px;
    }
    
    img {
        width: 100px;
        height: 100px;
        padding-bottom: 10px;
    }

    h1, h2, h3 {
        text-shadow:  1px 1px 2px #e00606c7
    }

    select {
        background-color: #444;
        color: aliceblue;
    }